@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="text-container">
            <div class="text-center text-black">
                <h1 class="display-4">Contact</h1>
                <p>Please contact us to place a custom order or if you need any support using our services <a href="James@KhumaloCraft.com">James@KhumaloCraft.com</a></p>
                <p>For general inquiries, please call <a href="tel:18001234567">1-800-123-4567</a></p>
                <p>Our office hours are Monday to Friday, 9am to 5pm</p>
                <p>Our adress is located at <a href="https://www.google.com/maps">1234 Khumalo Street, Johannesburg, South Africa</a></p>
                <img src="~/images/Con.jpg" alt="Contact" class="img-fluid contact-image">
            </div>
        </div>
    </div>
</body>
</html>
