@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="text-container" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 2px solid #000; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="text-center text-black">
                <h1 class="display-4">Contact</h1>
                <p>Please contact us to place a custom order or if you need any support using our services <a href="James@KhumaloCraft.com">James@KhumaloCraft.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>
