@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="text-container" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 2px solid #000; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="text-center text-black">
                <h1 class="display-4">Home </h1>
                <p>KhumaloCraft is a leather goods comapany founded by James Khumalo whos goal is to provide the worlds finest leather goods. We custom make goods personally for you or you can shop our range of bags, belts and shoes.</p>
            </div>
            <div class="row">
                <div class="col-md-4 mx-auto"> 
                    <div class="card">
                        <img src="https://i0.wp.com/www.fineleatherworking.com/wp-content/uploads/2018/06/leather-goods-makers-e1546399655502.jpg?fit=1024%2C555&ssl=1" class="card-img-top" alt="Leather Goods">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>