@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="text-container" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 2px solid #000; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div class="text-center text-black">
                <h1 class="display-4">Privacy Policy</h1>
                <p>Here at Khumalo craft we care about your Privacy and will safeguard your data in compliance with idustry standards. We will not sell your data to third party companies nor will we email you without your consent. At KhumaloCraft we put the customer first always.</p>
            </div>
        </div>
    </div>
</body> 
</html>
