<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - KhumaloCraft</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
    <div class="text-container" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border: 2px solid #000; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <div class="text-center text-black">
            <h1 class="display-4">Welcome</h1>
            <p>We aim to create masterful handcrafted products with love and care</p>
            <!-- add images of products -->
            <div class="row">
                <div class="col-md-4">
                    <figure>
                        <img src="https://www.ochrehandcrafted.com/cdn/shop/products/HandcraftedLeatherBackpack-OCHREhandcrafted.jpg?v=1649172444" alt="product" class="img-fluid product-image">
                        <figcaption>Handcrafted Leather Backpack</figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure>
                        <img src="https://munns.co.nz/cdn/shop/products/Ferracini-DressShoes_900x.jpg?v=1681876991" alt="product" class="img-fluid product-image">
                        <figcaption>Leather Dress Shoes</figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure>
                        <img src="https://images.squarespace-cdn.com/content/v1/607d736d4afcb51ff8fbc5eb/1652883839248-ZTTDR036ZS28EWIRDU7X/atlanta-product-photographer-leather-belts-photoshoot_0019.jpg" alt="product" class="img-fluid product-image">
                        <figcaption>Leather Belts </figcaption>
                    </figure> 
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>